body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #59422E;
    /* Green */
    border: none;
    color: white;
    font-weight: bold;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: ;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: #BF9169;
    color: black;
}


/* Header Section */
ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 10px;
    padding: 15px;
    margin: 8px;
}

.header-links a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #59422E;
}

.logo img {
    margin-right: auto;
    height: auto;
    width: 150px;
    margin-left: 8px;
    margin-top: 10px;
}


/* Hero Section */
.first-section {
    background-color: #F2D5BB;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-bottom: 25px;
}

.first-left {
    margin-left: 20px;
    margin-right: 30px;
    padding: 12px;
    flex-basis: 350px;
    margin-bottom: 70px;
}

.first-left h1 {
    margin-bottom: 0;
    font-size: 48px;
    color: black;
}

.first-left em {
    margin-top: 0;
    margin-bottom: 10px;
}

.first-left button {
    margin-top: 10px;
    back
}

.first-right img {
    margin-left: auto;
    height: auto;
    width: 400px;
    margin-bottom: 25px;
    margin-top: ;
}


/* Information Section */
.image-container {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex: 1;
}

.image-container img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border: 6px solid #59422E;
    border-radius: 20px;
}

.second-section h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: extra-bold;
    margin: 40px 0px;
}

.text p {
    display: flex;
    flex-wrap: wrap;
}


/* Quote Section */

.third-section {
    background-color: #e5e7eb;
    padding: 130px 0px;
    margin-top: 60px;
}

.third-section h2 {
    font-size: 36px;
    margin-left: 20px;
    font-weight: lighter;
    text-align: left;
    font-style: italic;
    padding: 0px 150px;
}

.third-section strong {
    text-align: right;
    padding-left: 280px;
}


/* Call to Action */
.fourth-section {
    background-color: #59422E;
}